<h2 class="text-muted">SKILLS</h2>

<div class="row">
  <div class="col-md-4">
    <h2 class="top-line">語言</h2>
    <p>C#、VB、Java、HTML、CSS、JavaScript、jQuery、T-SQL、LINQ</p>
  </div>
  <div class="col-md-4">
    <h2>框架</h2>
    <p>ASP.NET WebFrome、Asp.NET MVC 、Angular 4、Entity Framework、Bootstrap、Android
    </p>
  </div>
  <div class="col-md-4">
    <h2>資料庫</h2>
    <p>MSSQL
    </p>
  </div>

  <div class="col-md-4">
    <h2>版控</h2>
    <p>git、github、svn
    </p>
  </div>
  <div class="col-md-4">
    <h2>工具</h2>
    <p>Visual Studio、Visual Studio Code、eclipse、SQL Server Mangement、LinqPadＦ
    </p>
  </div>
  <div class="col-md-4">
    <h2>證照</h2>
    <p>SCJP、丙級電腦硬體裝修技術士、丙級網頁設計技術士、堆高機操作技術士
    </p>
  </div>
</div>
