/* 圖示 */
.icon {
  position: absolute;
}

img{
  width: 60%;
}

/* 圖示後的文字 */
span {
  margin-left: 1.7em;
}

/* 間隔 */
li {
  margin-bottom: 1em;
}

/* 手機螢幕 */
@media (max-width: 34em) {
  h2{
    margin-top: 1rem;
  }
}
