
<section>
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="img-responsive img-fluid rounded-circle" src="./assets/img/self.png">
    </div>

    <div class="col-md-9">
      <ul>
        <li>
          <h2>{{data?.name}}</h2>
        </li>
        <li>{{data?.content}}</li>
        <li>
          <i class="material-icons icon">email</i>
          <span>{{data?.email}}</span>
        </li>
        <li>
          <i class="material-icons icon">place</i>
          <span>{{data?.location}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
