<section>
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="img-responsive img-fluid rounded-circle" src="./assets/img/self.png">
    </div>

    <div class="col-md-9">
      <ul>
        <li>
          <h2>{{(data|async)?.name}}</h2>
        </li>
        <li>{{(data|async)?.content}}</li>
        <li>
          <i class="material-icons icon">email</i>
          <span>{{(data|async)?.email}}</span>
        </li>
        <li>
          <i class="material-icons icon | date">account_circle</i>
          <span>{{(data|async)?.bd | date}}</span>
        </li>
        <li>
          <i class="material-icons icon">place</i>
          <span>{{(data|async)?.location}}</span>
        </li>
      </ul>
    </div>
  </div>

</section>
