body {
  background-color: #f5f8fa;
}

#resume-body {
  padding-top: 1em;
}


/* icon size */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}


/* icon size end */
li{
  list-style-type:none;
  color: rgb(51, 51, 51);
}

section{
  margin:3em 0 3em 0;
}

.text-muted{
  margin-bottom:0.6em;
}
