body {
  background-color: #f5f8fa;
  font-family: 'Noto Sans TC', sans-serif;
  border-top-style: solid;
  border-top-width: 0.5em;
  border-top-color: #2f92ca;
}

.card{
  margin-top: 1em;
  margin-bottom: 1em;
  padding:0em 3em 0em 3em;
}

@media(max-width:34em){
  .card{
    padding:0em 0em 0em 0em;
  }

  dl,
  ol,
  ul {
    padding-left: 0rem;
  }
}

#resume-body {
  padding-top: 1em;
}


/* icon size */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}


/* icon size end */
li{
  list-style-type:none;
  color: rgb(51, 51, 51);
}

section{
  margin:3em 0 3em 0;
}

.text-muted{
  margin-bottom:0.6em;
}

.left-line{
  border-left-style:solid;
  border-left-color:rgb(151,151,151);
  border-left-width:0.3em;
  padding-left: 1em;
  margin-bottom:2em;
}

